// Variables File

//General
$highlight-color: #4fe05a;
$primary-color: #4fe05a;
$secondary-color: #444444;

//Greys
$default-light-grey: #DDDDDD;
$default-medium-grey: #999999;
$default-dark-grey: #666666;
$default-superdark-grey: #444444;

//Font
$base-font-size: 12px;
$base-font-family: 'Nunito', sans-serif;
$title-font-family: 'Armata', sans-serif;

$numerical-font-family: 'Armata', sans-serif;
$text-color: #333333;

//Buttons
$btn-primary-background-color: #4fe05a;
$btn-primary-text-color: #ffffff;
$btn-primary-border-color: #4fe05a;

$btn-secondary-background-color: #555555;
$btn-secondary-text-color: #ffffff;
$btn-secondary-border-color: #555555;

$btn-tiertary-background-color: transparent;
$btn-tiertary-text-color: #555555;
$btn-tiertary-border-color: transparent;

//Links
$link-color: #555555;

//States
$info-color: #1686e8;
$success-color: #00DC00;
$warning-color: #e89d14;
$error-color: red;