
/*
    Name: Star Wars Battleship Base Styles
    Description: Base styles
    Author: Eric Cavazos
*/

@import '_variables.scss';


/***************************   CSS META   *****************************

Project: Star Wars Battleship
Version: 1.0.0

Author: Eric Cavazos
Email: eric@smartass.io


/**************************************************************************
*************************   TABLE OF CONTENTS   ***************************
/**************************************************************************

0. Global Setup
    0.1 - Imports
    0.2 - Global Variables
    0.3 - Mixins & Functions
    0.4 - Global/Body/HTML Styles
    0.5 - Button Styles
2. Layout
	1.1 - Space Helpers
4. Mobile Styles

/**************************************************************************
*******************************  END  *************************************
/**************************************************************************/


/**************************************************************************
							GLOBAL SETUP
/**************************************************************************/


/*--------------------------- 0.1 - Imports  --------------------------------*/

// Incace we want to import any standard packages like Buma/Bootstrap
@import '../../../node_modules/bulma/css/bulma.min.css';

/*--------------------------- 0.2 - Mixins & Functions --------------------------------*/

//Mixins
@mixin transition($transition-property:all, $transition-time:1s, $method:linear) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

/*--------------------- 0.3 - Global Font Styles  -------------------------------------*/

h1{
	font-family: $title-font-family, sans-serif;
	font-size: 48px;
	line-height: 54px;
	font-weight: 600;
	color:$text-color;
}

h2{
	font-family: $title-font-family, sans-serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
	color:$text-color;
}

h3{
	font-family: $title-font-family, sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color:$text-color;
}

h4{
	font-family: $title-font-family, sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	text-transform: uppercase;
    color:$text-color;
}

p, span, a, div, ul, li, ol, section, article, form, input, textarea, header, footer, aside {
	font-family: $base-font-family;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color:$text-color;
}

.view-content{
	padding: 15px;
}

.input-label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

/*------------------------ 1.1 - Space Helpers ------------------------------------*/


.m-t-m{
	margin-top:20px;
}

.m-r-s{
	margin-bottom:10px;
}

.m-b-s{
	margin-bottom:10px;
}

.m-b-m{
	margin-bottom:20px;
}

.m-b-xl{
	margin-bottom:60px;
}

.center-align{
	text-align:center;
}


.game-box{
	width:100px;
	border: 1px solid #999;
}

.game-item{
	margin: 0;
	padding: 10px 0px;
	border-bottom: 1px #999 solid;
}

.game-item-name{
	font-size: 16px;
	padding-left: 0;
}

.flex{
	display: flex;
}

.game-item-button{
	margin-right: 0;
}

